<div class="row">
  <aside class="col-md-4">
    <%= render 'user_info' %>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %> (<%= @users.count %>)</h3>
    <ul id="flex-box">
      <%= render @users %>
    </ul>
  </div>
</div>